html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #88C9C6;
    background-image: url(../img/restaurant.png);
}
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #00a087;
}
.content {
    margin-top: 20px;
}
.fixed-nav-bar li,
.fixed-nav-bar a {
    height: 50px;
    line-height: 50px;
}
.menu {
    margin: 0 auto;
}
.menu a,
.menu a:visited {
    color: #ffffff;
}
.menu a:hover,
.menu a:target {
    color: #ebebeb;
}
.menu-items {
    display: inline;
    vertical-align: middle position: right;
}
.sitename {
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
}
a.sitename,
a:visited.sitename {
    color: #e0e0e0;
}
.menu-items li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Helvetica', sans-serif;
    background: -webkit-linear-gradient(left top, #BBDEFB, #B0C4DE) fixed;
    /* For Safari 5.1 to 6.0 */
    
    background: -o-linear-gradient(bottom right, #BBDEFB, #B0C4DE) fixed;
    /* For Opera 11.1 to 12.0 */
    
    background: -moz-linear-gradient(bottom right, #BBDEFB, #B0C4DE) fixed;
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(to bottom right, #BBDEFB, #B0C4DE) fixed;
    /* Standard syntax */
    
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #88C9C6;
    background-image: url(../img/restaurant.png);
}
p {
    color: #6c6c6c;
    font-size: medium;
}
div.forms {
    position: relative;
    margin: 0 auto;
    top: 0%;
    width: 500px;
    background-color: white;
    border-radius: 25px;
    bottom: auto;
    /*padding-bottom: 20px;*/
    
    box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3);
    margin-top: 51px;
}
input#title {
    height: 30px;
    width: 350px;
    font-size: medium;
    padding-left: 5px;
}
input#others {
    height: 30px;
    width: 250px;
    font-size: medium;
}
img.icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 20px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
@media (max-width: 500px) {
    div.forms {
        position: relative;
        margin: 0 auto;
        top: 30px;
        width: 350px;
        background-color: white;
        border-radius: 25px;
    }
    input#title {
        height: 30px;
        width: 250px;
        font-size: small;
    }
    input#others {
        height: 30px;
        width: 250px;
        font-size: small;
    }
    img.icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        border-radius: 15px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    p {
        color: #6c6c6c;
        font-size: small;
    }
}
h2 {
    text-align: center;
    background-color: #bdbdbd;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    text-shadow: 0px 0px 0px black;
}
form {
    padding-left: 25px;
    padding-bottom: 20px;
}
input#save {
    -webkit-appearance: none;
    width: 49%;
    display: inline-block;
    margin: 0;
    padding: 15px;
    background: none;
    border: none;
    color: white;
    background-color: #48BA87;
    -webkit-border-radius: 5px;
    /*For Safari, etc. */
    
    -moz-border-radius: 5px;
    /* For Mozilla, etc. */
    
    border-radius: 5px;
    /* CSS3 Feature */
    
    opacity: 1.0;
    font-size: medium;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input#save:hover {
    cursor: pointer;
}
p#save_p {
    text-align: center;
}
/*Notification Buttons*/

#notification-button {
    overflow: auto;
}
#notification-button label {
    margin: 4px;
    border-radius: 5px;
    /*border:1px solid #D0D0D0;*/
    
    background-color: #EFEFEF;
    float: left;
    width: 6.5em;
}
#notification-button label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
    /*border:1px solid #D0D0D0;*/
    
    overflow: auto;
}
#notification-button label input {
    position: absolute;
    top: -100%;
}
#notification-button input:checked + span {
    background-color: #9c9696;
    border-radius: 5px;
    color: #fff;
}
#notification-button input:hover + span {
    cursor: pointer;
}
/* CSS for the Notifications Switch */

.onoffswitch1 {
    position: relative;
    width: 140px;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch1-checkbox {
    display: none;
}
.onoffswitch1-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 20px;
}
.onoffswitch1-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch1-inner:before,
.onoffswitch1-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 15px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch1-inner:before {
    content: "OFF";
    padding-left: 10px;
    background-color: #FC0000;
    color: #030303;
}
.onoffswitch1-inner:after {
    content: "ON";
    padding-right: 10px;
    background-color: #39F50A;
    color: #FFFFFF;
    text-align: right;
}
.onoffswitch1-switch {
    display: block;
    width: 20px;
    margin: 15px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 86px;
    border: 2px solid #000000;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
    margin-left: 0;
}
.onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch {
    right: 0px;
}
/* Sleep Mode Switch */

.sleepswitch {
    position: relative;
    width: 140px;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.sleepswitch-checkbox {
    display: none;
}
.sleepswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 20px;
}
.sleepswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.sleepswitch-inner:before,
.sleepswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 15px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.sleepswitch-inner:before {
    content: "OFF";
    padding-left: 10px;
    background-color: #FC0000;
    color: #030303;
}
.sleepswitch-inner:after {
    content: "ON";
    padding-right: 10px;
    background-color: #39F50A;
    color: #FFFFFF;
    text-align: right;
}
.sleepswitch-switch {
    display: block;
    width: 20px;
    margin: 15px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 86px;
    border: 2px solid #000000;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.sleepswitch-checkbox:checked + .sleepswitch-label .sleepswitch-inner {
    margin-left: 0;
}
.sleepswitch-checkbox:checked + .sleepswitch-label .sleepswitch-switch {
    right: 0px;
}
/* PAGE LOAD SWITCH */

.pageswitch {
    position: relative;
    width: 140px;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.pageswitch-checkbox {
    display: none;
}
.pageswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 20px;
}
.pageswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.pageswitch-inner:before,
.pageswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 15px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.pageswitch-inner:before {
    content: "OFF";
    padding-left: 10px;
    background-color: #FC0000;
    color: #030303;
}
.pageswitch-inner:after {
    content: "ON";
    padding-right: 10px;
    background-color: #39F50A;
    color: #FFFFFF;
    text-align: right;
}
.pageswitch-switch {
    display: block;
    width: 20px;
    margin: 15px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 86px;
    border: 2px solid #000000;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.pageswitch-checkbox:checked + .pageswitch-label .pageswitch-inner {
    margin-left: 0;
}
.pageswitch-checkbox:checked + .pageswitch-label .pageswitch-switch {
    right: 0px;
}
.myForm div {
    width: 47%;
    margin: 0;
    padding: 0;
    float: left;
}
.myForm div label {
    display: block;
}
i {
    color: #333;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}