/* basic structure & layout */

html {
    height: 100%;
}
body {
    height: 100%;
    background: -webkit-linear-gradient(left top, #BBDEFB, #B0C4DE) fixed;
    /* For Safari 5.1 to 6.0 */
    
    background: -o-linear-gradient(bottom right, #BBDEFB, #B0C4DE) fixed;
    /* For Opera 11.1 to 12.0 */
    
    background: -moz-linear-gradient(bottom right, #BBDEFB, #B0C4DE) fixed;
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(to bottom right, #BBDEFB, #B0C4DE) fixed;
    /* Standard syntax */
    
    font-family: Helvetica, sans-sarif;
    margin: 0;
    background-image: url(../img/restaurant.png);
}
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #00a087;
}
.content {
    margin-top: 50px;
}
.fixed-nav-bar li,
.fixed-nav-bar a {
    height: 50px;
    line-height: 50px;
}
.menu {
    margin: 0 auto;
}
.menu a,
.menu a:visited {
    color: #ffffff;
}
.menu a:hover,
.menu a:target {
    color: #ebebeb;
}
.menu-items {
    display: inline;
    vertical-align: middle position: right;
}
.sitename {
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
}
a.sitename,
a:visited.sitename {
    color: #e0e0e0;
}
.menu-items li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
}
a {
    text-decoration: none;
}
#habit-list,
#other-days-habits {
    list-style: none;
    padding: 0;
}
/* habit info */

.habit-info {
    padding: 0;
    margin-left: 20px;
}
.habit-info>li {
    list-style: none;
    height: 100%;
    margin: 5px;
    padding: 0;
    vertical-align: center;
}
.habit-name {
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    color: #888;
    font-size: 24px;
}
.habit-icon {
    margin: 0;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}
.message {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    text-align: center;
    color: #888;
}
.message-total {
    visibility: visible;
}
.message-total>svg {
    margin: 15px auto;
}
/* Meter/Progress bar element */

meter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80%;
    height: 15px;
    /* For Firefox */
    
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    border-radius: 3px;
}
/* WebKit */

meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    border-radius: 3px;
}
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
    border-radius: 3px;
}
meter::-webkit-meter-optimum-value {
    background: #86CC00;
}
meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A;
}
meter::-webkit-meter-even-less-good-value {
    background: #CC4600;
}
/* Firefox */

meter::-moz-meter-bar {
    border-radius: 3px;
}
meter:-moz-meter-optimum::-moz-meter-bar {
    background: #86CC00;
}
meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #FFDB1A;
}
meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #CC4600;
}
/* operations (for a existing habit) */

.habit-op img {
    height: 90%;
}
.op {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border-radius: 50%;
    box-shadow: 0 0 3px gray;
    padding: 5px;
    vertical-align: middle;
}
.op:hover {
    box-shadow: 0 0 5px gray;
}
.op:active {
    box-shadow: 0 0 10px gray;
}
.op:focus {
    outline-style: none;
}
.op-thumb-up {
    background: rgba(0, 177, 106, 0.8);
    border: 2px solid rgba(0, 128, 0, 0.3);
}
.op-thumb-up:hover {
    background: #00B16A;
}
.op-thumb-up:active {
    background: #00B16A;
    border: 2px solid green;
}
.op-thumb-down {
    background: rgba(242, 38, 19, 0.7);
    border: 2px solid rgba(255, 0, 0, 0.3);
}
.op-thumb-down:hover {
    background: #F22613;
}
.op-thumb-down:active {
    background: #F22613;
    border: 2px solid red;
}
.op-edit {
    background: rgba(247, 202, 24, 0.8);
    border: 2px solid rgba(255, 255, 0, 0.3);
}
.op-edit:hover {
    background: #F7CA18;
}
.op-edit:active {
    background: #F7CA18;
    border: 2px solid yellow;
}
.op-del {
    background: rgba(242, 38, 19, 0.7);
    border: 2px solid rgba(255, 0, 0, 0.3);
}
.op-del:hover {
    background: #F22613;
}
.op-del:active {
    background: #F22613;
    border: 2px solid red;
}
.op i {
    color: white;
}
/* add habit */

#addHabit {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background: rgba(33, 72, 100, 1.0);
    width: 60px;
    height: 60px;
    vertical-align: middle;
    font-size: 36px;
    padding: 5px;
    line-height: 100%;
    color: white;
    border: 2px solid rgba(85, 85, 85, 0.7);
    -webkit-appereance: none;
    border-radius: 50%;
    box-shadow: 0 0 3px gray;
}
#addHabit:hover {
    background: rgba(33, 72, 100, 0.7);
    border: 1px solid rgba(85, 85, 85, 0.7);
    box-shadow: 0 0 5px gray;
}
#addHabit:active {
    border: 2px solid gray;
    background: rgba(33, 72, 100);
    box-shadow: 0 0 10px gray;
}
#addHabit:focus {
    outline-style: none;
}
/* phone */

@media only screen and (max-width: 500px) {
    section {
        width: 350px;
        margin: 0 auto;
    }
    .message {
        right: 5px;
        bottom: 80px;
        font-size: small;
    }
}
/* desktop, tablet */

@media only screen and (min-width: 500px) {
    section {
        width: 500px;
        margin: 0 auto;
    }
    .message {
        right: 60px;
        bottom: 80px;
    }
}
.habit-info-left {
    float: left;
    width: 30%;
    text-align: center;
}
.habit-info-right {
    float: left;
    width: 70%;
    text-align: center;
}
.habit-info-right p {
    margin: 10px;
}
.habit-item {
    position: relative;
    height: 270px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3);
}
.habit-header {
    font-size: 25px;
    display: inline-block;
}
.habit-info-top {
    padding: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
.habit-delete {
    float: right;
    position: relative;
    display: inline-block;
    font-size: 20px;
}
.habit-delete:hover {
    color: red;
}
.habit-meter {
    border-radius: 0px;
    height: 20px;
}
.habit-list-header {
    text-align: center;
    background: white;
    padding: 3px;
    box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3);
}
.habit-confirm-delete {
    display: none;
    text-align: center;
    margin-bottom: 10px;
    color: red;
}
.habit-confirm-delete a {
    text-decoration: none;
}
.habit-confirm-delete a:hover {
    text-decoration: underline;
}
.habit-info-middle {
    height: 100px;
}
.habit-op {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}
#spinner {
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 50px;
}
#habit-list-header,
#other-days-header {
    text-align: center;
    background: rgb(33, 72, 100);
    box-shadow: 4px 4px 4px rgba(120, 120, 120, 0.3);
    color: white;
}
.face {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
    background: white;
    border-width: 0;
}
.frown {
    color: red;
}
.smile {
    color: green;
}